body {
 display:grid;
place-items: center; /* atalho para centralizar horizontal e vertical */
height: 100vh;  
background-color: gray;
margin: 0;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px; /* espaço entre os elementos */
}

button {
  background-color: whitesmoke;
  color: black;
  border: none;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}


button:hover {
  background-color: #2980b9;
}

input[type="number"] {
    flex: 5;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

